@font-face {
  font-family: 'Ubuntu';
  src: url(./assets/font/Ubuntu-Regular.ttf) format('ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', 'Courier New', Courier, monospace;
}

:root {
  --color-main: white;
  --color-secondary: #3d5a80;
  --color-tertiary: #293241;
  --color-accent-main: rgba(238, 109, 77, 0.9);
  --color-accent-main-hover: #ee6c4d;

  --color-rain: blue;

  --font-color-main: black;
  --font-color-secondary: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
  background-color: var(--color-secondary);
  color: var(--font-color-secondary);
}

header .logo {
  text-align: center;
}

header .search {
  display: flex;
  height: 1.5rem;
}

header .search input {
  width: 100%;
  padding: 0 0.5rem;
  border-radius: 0;
  outline: none;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

header .search input:focus {
  border-radius: 0;
  outline: none;
}

header .search button {
  cursor: pointer;
  padding-inline: 0.5rem;
  background-color: var(--color-accent-main);
  box-shadow: none;
  border: 1px solid black;
  border-left-style: none;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
}

header .search button:hover,
header .search button:active {
  background-color: var(--color-accent-main-hover);
}

header .btn-container {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
}

header .btn-container > span {
  cursor: pointer;
}

header .btn-container > span.active {
  font-weight: bold;
  font-size: 1.05rem;
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --general-padding-inline: 1rem;
}

main .forecast {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'location location' 'detail weather' 'hourly hourly';
  text-transform: uppercase;
  width: 100%;
  padding-inline: var(--general-padding-inline);
  gap: 1rem;
}

main .forecast .location {
  grid-area: location;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
}

main .forecast .location span.city {
  font-size: 1.5rem;
  font-weight: bold;
}

main .forecast .location span.date {
  display: flex;
}

main .forecast .small-details {
  grid-area: detail;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

main .forecast .small-details span:not(.time) {
  font-weight: 500;
}

main .forecast .small-details .time {
  font-size: 0.8rem;
}

main .forecast .small-details .temp {
  font-size: 4rem;
  display: flex;
  align-items: flex-end;
  line-height: 0.9;
}

main .forecast .small-details .feel {
  font-size: 0.8rem;
  font-style: italic;
}

main .forecast .weather {
  grid-area: weather;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

main .forecast .weather i {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 4rem;
}

main .forecast .weather .condition {
  text-align: center;
}

main .hourly {
  grid-area: hourly;
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  width: 100%;
  gap: var(--card-gap);
  margin: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  --card-gap: 1rem;
  --card-shown: 3;
  --padding-card: 1rem;
}

main .hourly > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  padding: var(--padding-card) 0;
  flex: 1 0 calc((100% - var(--card-gap) * var(--card-shown) + var(--padding-card)) / var(--card-shown));
  height: 100%;
}

main .hourly > .card i:not(.wi-raindrop) {
  font-size: 1.4rem;
}

main .hourly > .card .condition {
  font-size: 0.8rem;
  overflow-wrap: anywhere;
  text-align: center;
  flex-shrink: 1;
  flex-basis: 25%;
}

main .hourly > .card .rain {
  font-size: 0.75rem;
  color: var(--color-rain);
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

main .details {
  --padding: 1.5rem;
  --gap: 1rem;
  --details-per-row: 2;

  width: 100%;
  background-color: var(--color-tertiary);
  color: var(--font-color-secondary);
  display: flex;
  flex-wrap: wrap;

  padding: var(--padding);
  gap: var(--gap);
}

main .details > .info {
  flex-grow: 1;
  flex-basis: calc(100% / var(--details-per-row) - var(--padding));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

main .details > .info span:first-of-type {
  opacity: 0.5;
  font-size: 0.9rem;
  text-transform: capitalize;
  text-align: center;
}

main .daily {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 100%;
}

main .daily > div {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

main .daily > div span:first-of-type {
  flex-grow: 1;
}

main .daily > div i {
  font-size: 1.2rem;
}

footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--color-tertiary);
  color: var(--font-color-secondary);
}

footer > span {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  opacity: 0.8;
}

footer a:visited {
  color: var(--font-color-secondary);
}

@media only screen and (min-width: 760px) {
  header {
    flex-direction: row;
    justify-content: center;
    padding-inline: 10%;
  }

  main {
    --general-padding-inline: 20%;
  }

  main .hourly {
    --card-shown: 5;
  }

  main .details {
    --details-per-row: 4;
  }

  main .daily {
    padding-inline: var(--general-padding-inline);
  }
}

@media only screen and (min-width: 1280px) {
  header {
    padding-inline: 30%;
  }

  header .search {
    flex: 1;
  }

  main {
    --general-padding-inline: 30%;
  }

  main .forecast {
    padding: 2rem var(--general-padding-inline);
  }

  main .hourly {
    --card-shown: 5;
  }

  main .details {
    --details-per-row: 4;
    padding: 2.5rem calc(var(--general-padding-inline) - 10%);
  }

  main .daily {
    padding-inline: var(--general-padding-inline);
  }
}

@media only screen and (min-width: 1920px) {
  main {
    --general-padding-inline: 37%;
  }

  main .details {
    padding-inline: calc(var(--general-padding-inline) - 5%);
  }

  main .daily {
    padding-inline: var(--general-padding-inline);
  }
}
