* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  --font-size: clamp(16px, 1.2rem, 1.3rem);
}

a {
  text-decoration: none;
  color: var(--color-font-primary);
}

:root.light {
  --color-background-main: white;
  --color-background-secondary: #275dad;
  --color-background-tertiary: rgba(104, 148, 89, 0.2);
  --color-accent-main: #ffddd2;
  --color-accent-secondary: #e29578;
  --color-accent-tertiary: #2c2b2b;
  --color-logo-bg: rgba(104, 148, 89, 0.4);
  --color-font-primary: #2c2b2b;
  --color-font-secondary: white;
  --color-font-sub: white;
}

:root.dark {
  --color-background-main: white;
  --color-background-secondary: #a8dadc;
  --color-accent-main: #e63946;
  --color-accent-secondary: rgb(24, 75, 146);
  --color-logo-bg: rgba(242, 204, 143, 0.5);
  --color-accent-tertiary: #457b9d;
  --color-font-primary: rgb(44, 43, 43);
  --color-font-secondary: rgb(44, 43, 43);
  --color-font-sub: white;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--color-background-main);

  width: 100%;
  height: 100vh;
  font-size: var(--font-size);
}

main {
  display: grid;
  grid-template-rows: 1fr 9fr;
}

.img-container {
  position: relative;
  height: 100%;
}

.img-container .logo {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--color-logo-bg);
  height: 100%;
  width: 100%;
}

.img-container .logo .image {
  background-image: url('./assets/vtslogo3.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: max(30%, 20px);
}

.img-container .image-author,
.img-container .logo span {
  display: none;
}

.content-container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;

  --padding-left: 2rem;
  --padding-top: 2rem;
  --padding-bottom: 2rem;
}

.content-container .description{
  font-size: calc(var(--font-size) + 0.2rem);
}

.content-container .form,
.content-container > div {
  padding: var(--padding-top) var(--padding-left) calc(var(--padding-bottom));
}

.form {
  background-color: var(--color-background-tertiary);
  box-shadow: 0px 2px 5px var(--color-background-secondary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-description {
  font-weight: 700;
  padding-bottom: 2rem;
  font-size: calc(var(--font-size) + 0.2rem);
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 25ch;
}

.form input {
  width: 100%;
  height: 2rem;
  font-size: var(--font-size);
  border-radius: 0.3rem;
}

.form-button {
  display: flex;
  flex-direction: column;
}

.form-button .submit-btn {
  width: max(100px, 20%);
  height: 3rem;
  margin-bottom: 1rem;
  background-color: var(--color-background-secondary);
  color: var(--color-font-secondary);
  font-weight: 700;
  font-size: var(--font-size);
  border-radius: 0.2rem;
  box-shadow: 0px 2px 5px var(--color-background-secondary);
}

.form-button span {
  font-size: 0.9rem;
}

.form-button span a {
  color: var(--color-background-secondary);
  font-weight: 700;
}

footer {
  height: 20px;
  position: fixed;
  color: black;
  right: 2rem;
  bottom: 1rem;
}

@media only screen and (min-width: 700px) {
  .content-container {
    --padding-left: 15%;
    --padding-top: 3rem;
    --padding-bottom: 5rem;
  }

  .form {
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .form p {
    width: 100%;
    padding-bottom: 0;
  }

  .form .form-control {
    flex-basis: calc(50% - 2rem);
  }
}

@media only screen and (min-width: 1200px) {
  main {
    grid-template-rows: none;
    grid-template-columns: 1fr 2fr;
    height: 100%;
  }

  main .img-container .image {
    background-image: url('./assets/clay-banks-DJbGRRpjLuY-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
  }

  .img-container .image-author {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
    font-size: 0.7rem;
    color: var(--color-font-sub);
  }

  .img-container .image-author a {
    color: var(--color-font-sub);
    text-decoration: underline;
  }

  .img-container .logo {
    position: absolute;
    height: 6rem;
    margin-top: calc(100vh - 80vh);
    color: var(--color-font-primary);
  }

  .img-container .logo .logo-text {
    display: block;
    position: relative;
    font-size: calc(var(--font-size) * 5);
  }

  .content-container {
    --padding-left: 5%;
    --padding-top: 10%;
    --padding-bottom: 3rem;
  }

  .content-container .form {
    padding-right: 25%;
    padding-bottom: 0%;
    margin-bottom: 5%;
  }

  .form-control {
    margin-top: 0rem;
  }

  .content-container .form-button {
    padding-top: 0rem;
  }

}
