@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Regular.ttf') format('ttf');
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #f8f9fa;
  --color-secondary: #212529;
  --color-tertiary: #dee2e6;

  --color-sidebar-indicator: #212529;
  --color-sidebar-hover: #adb5bd;
  --color-todo-low: green;
  --color-todo-med: orange;
  --color-todo-high: red;
  --color-red-filter: invert(28%) sepia(99%) saturate(7399%) hue-rotate(357deg) brightness(106%) contrast(115%);

  --font-fc-main: black;
  --font-fc-secondary: white;

  --font-fz-nav: 1.4rem;
  --font-fz-projects: 1rem;
  --font-fz-projects-indicator: 0.75rem;
}

body {
  font-family: Ubuntu;
}

#container {
  height: 100vh;
  display: grid;
  background-color: var(--color-primary);
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.3fr 3fr;
  grid-template-areas: 'header header' 'nav todo';
}

header {
  grid-area: header;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  color: var(--font-fc-secondary);
  padding: 1rem;
}

header .sidebar-btn {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

header .sidebar-btn img {
  cursor: pointer;
  width: 2.3rem;
  filter: invert(1);
}

header .demo {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

header .demo button {
  padding: 0.3rem 0.5rem;
  background-color: var(--color-tertiary);
  border-radius: 5px;
}

nav {
  grid-area: nav;
  background-color: var(--color-tertiary);
  position: relative;
  right: 100%;
  transition: right 0.5s ease;
  padding: 1rem 0.7rem;
  font-size: var(--font-fz-nav);
  overflow-y: auto;
}

nav.active {
  display: block;
  right: 0%;
  z-index: 1;
}

nav ul {
  cursor: pointer;
  list-style: none;
}

nav ul li {
  padding: 0.5rem;
  border-radius: 5px;
}

nav ul li:not(.projects) {
  display: flex;
  align-items: center;
}

nav ul li:not(.projects).active::before {
  content: url('./assets//chevron-right.svg');
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
}

nav ul li:not(.projects) span:first-of-type {
  margin-right: auto;
}

nav ul li:not(.projects) span:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  border-radius: 50%;
  min-width: 1.3rem;
  min-height: 1.3rem;
  padding: 0.2rem;
  font-size: var(--font-fz-projects-indicator);
  background-color: var(--color-sidebar-indicator);
  color: var(--font-fc-secondary);
}

nav ul li:not(.projects) span.notodo:last-of-type {
  visibility: hidden;
}

nav ul li.projects {
  cursor: default;
}

nav ul li.projects ul li:first-of-type {
  margin-top: 0.5rem;
}

nav li ul.projects-container li {
  padding: 0.2rem;
  margin-left: 1rem;
  font-size: var(--font-fz-projects);
  overflow-wrap: anywhere;
}

nav ul .projects-container .add-project {
  justify-content: center;
  margin-top: 1rem;
  margin-left: 0rem;
}

.todo-container {
  grid-area: todo;
  background-color: var(--color-primary);
  grid-column: 1 / 3;
  padding: 1rem;
  overflow-y: auto;
}

.todo-container .projTitle {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.todo-container .projTitle .deleteProject {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}

.todo-container .item {
  display: flex;
  align-items: center;
  min-height: 1.8rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px;
  transition: transform 250ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

.todo-container .item.low {
  box-shadow: 3px 0px 0px var(--color-todo-low) inset, 2px 2px 2px 0px;
}

.todo-container .item.med {
  box-shadow: 3px 0px 0px var(--color-todo-med) inset, 2px 2px 2px 0px;
}

.todo-container .item.high {
  box-shadow: 3px 0px 0px var(--color-todo-high) inset, 2px 2px 2px 0px;
}

.todo-container .item.done {
  opacity: 0.3;
  text-decoration: line-through;
}

.todo-container .item .check {
  display: flex;
  align-items: center;
  margin-inline: 0rem 0.5rem;
}

.todo-container .item .check input[type='checkbox'] {
  width: 1.2rem;
  height: 1.2rem;
}

.todo-container .item .proj {
  overflow-wrap: anywhere;
  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
}

.todo-container .item .title {
  margin-right: auto;
  overflow-wrap: anywhere;
}

.todo-container .item .date {
  flex-shrink: 0;
  margin-right: 0.25rem;
  margin-left: 0.5rem;
}

.todo-container .item .btn-container {
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.todo-container .item .btn-container img {
  height: 1.5rem;
  filter: var(--color-red-filter);
}

.todo-container .item.add-todo {
  justify-content: center;
  border: none;
  box-shadow: none;
  height: 2rem;
}

.modal {
  margin: auto;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
  min-width: 30ch;
  z-index: 1;
}

.modal::backdrop {
  opacity: 0;
}

.modal[open] {
  animation: slide-up 500ms forwards, fade-in 500ms forwards;
}

.modal[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 500ms forwards;
}

.modal .modal-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.modal .modal-container div:first-of-type {
  cursor: pointer;
  margin-left: auto;
}

.modal form .form-control {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modal form .form-control input {
  width: 100%;
  min-height: 1.6rem;
  border: none;
  outline: none;
}

.modal form .form-control #project {
  padding-inline: 0.5rem;
  border: 2px solid var(--color-tertiary);
  border-radius: 5px;
}

.modal form input[name='title'] {
  font-weight: bold;
  font-size: 1.4rem;
}

.modal form textarea {
  height: auto;
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  line-height: 1.5;
}

.modal form input[type='date'] {
  padding-inline: 0.5rem;
  border: 2px solid var(--color-tertiary);
  border-radius: 5px;
}

.modal form .priority-container {
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.modal form .priority-container input[type="radio"] {
  display: none;
}

.modal form .priority-container span {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  border-radius: 5px;
  text-transform: uppercase;
}

.modal form .priority-container input[value="1"] + span {
  border: 2px solid var(--color-todo-low);
  color: var(--color-todo-low);
}

.modal form .priority-container input[value="1"]:checked + span,
.modal form .priority-container input[value="1"] + span:hover {
  background-color: var(--color-todo-low);
  color: var(--font-fc-secondary);
}

.modal form .priority-container input[value="2"] + span {
  border: 2px solid var(--color-todo-med);
  color: var(--color-todo-med);
}

.modal form .priority-container input[value="2"]:checked + span,
.modal form .priority-container input[value="2"] + span:hover {
  background-color: var(--color-todo-med);
  color: var(--font-fc-secondary);
}

.modal form .priority-container input[value="3"] + span {
  border: 2px solid var(--color-todo-high);
  color: var(--color-todo-high);
}

.modal form .priority-container input[value="3"]:checked + span,
.modal form .priority-container input[value="3"] + span:hover {
  background-color: var(--color-todo-high);
  color: var(--font-fc-secondary);
}

.modal form .form-control:last-of-type {
  justify-content: center;
  gap: 1rem;
}

.modal form .form-control:last-of-type > button {
  padding: 0.4rem 1rem;
  width: min(100px, 35%);
  height: 2.6rem;
  border-radius: 5px;
  outline: none;
}

.modal form .form-control:last-of-type > button[type='submit'] {
  background-color: var(--color-secondary);
  color: var(--font-fc-secondary);
}

@media only screen and (min-width: 750px) {
  #container {
    grid-template-columns: 32ch 3fr;
    grid-template-rows: 0.3fr 3fr;
    grid-template-areas: 'header header' 'nav todo';
  }

  header {
    padding-left: 3rem;
  }

  header .sidebar-btn {
    display: none;
  }

  nav {
    right: 0%;
    padding: 1rem;
    z-index: 0;
  }

  nav.active {
    right: 0%;
  }

  nav ul li:not(.projects):hover {
    background-color: var(--color-sidebar-hover);
  }

  .todo-container {
    grid-column: 2 / 3;
    padding: 2.5rem;
  }

  .todo-container .item .btn-container {
    display: none;
    animation: slide-left 350ms forwards, fade-in 350ms forwards;
  }

  .todo-container .item:hover > .btn-container {
    display: block;
  }

  .todo-container .item.add-todo:hover {
    background-color: var(--color-sidebar-hover);
  }

  .todo-container .item:not(.done):hover {
    transform: scale(1.01);
  }

  .modal {
    min-width: 60ch;
  }

  .modal .modal-container {
    padding: 2rem;
  }

  .modal form .form-control:last-of-type > button {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1500px) {
  .todo-container {
    max-width: 120ch;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
