* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root[data-theme = "light"] {
  --color-background-main: white;
  --color-background-secondary: #275dad;
  --color-background-tertiary: rgb(230, 227, 227);
  --color-accent-main: #d90429;
  --color-accent-secondary: #ef233c;
  --color-accent-tertiary: #2b2d42;
  --color-font-primary: #2c2b2b;
  --color-font-secondary: white;
}

:root[data-theme = "dark"] {
  --color-background-main: #50514f;
  --color-background-secondary: #333533;
  --color-background-tertiary: #252422;
  --color-accent-main: #eb5e28;
  --color-accent-secondary: #eb5e28;
  --color-accent-tertiary: #2b2d42;
  --color-font-primary: #fffcf2;
  --color-font-secondary: white;
}

body {
  height: 100vh;
  background-color: var(--color-background-main);
  color: var(--color-font-primary);
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto 3fr 1fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas: "sidebar header header" "sidebar main aside";

  --grid-border-radious: 0.5rem;
  --grid-container-padding: 1.3rem;
  --grid-gap: 2rem 1rem;
  --grid-card-padding: 1.3rem;
  --h2-margin-bottom: 0.4rem;
  --base-transition: all 0.2s ease-in-out;
  --sidebar-collapsed-width: 4.5rem;
}

header {
  background: var(--color-background-main);
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 2rem;
}

header > div {
  display: flex;
  align-items: center;
  padding: 0 1rem 0.25rem 1rem;
}

header > div:nth-child(2n-1) {
  flex: 1 1 60%;
}

header .search-bar input {
  width: 50%;
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
  margin-left: 1rem;
  border-radius: var(--grid-border-radious);
  transition: var(--base-transition);
}

:root[data-theme="dark"] header .search-bar input {
  background: var(--color-font-primary);
  border: 1px solid var(--color-font-primary);
}

:root[data-theme="dark"] header .search-bar label {
  filter: invert(1);
}

header .search-bar input:focus {
  width: 100%;
}

header .profile {
  justify-content: center;
  gap: 1rem;
  width: 40%;
}

header .profile > img {
  cursor: pointer;
}

header .profile > img:nth-child(3) {
  background-color: var(--color-font-secondary);
}

:root[data-theme="dark"] header .profile > img:not(:nth-child(3)) {
  filter: invert(1);
}

header .profile img:nth-child(3) {
  border: 1px solid var(--color-font-primary);
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}

header .greeting {
  gap: 1rem;
}

header .greeting img {
  border: 1px solid var(--color-font-primary);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

:root[data-theme="dark"] header .greeting img {
  background-color: var(--color-font-secondary);
}

header .greeting div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

header .action-btn {
  width: 40%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

header .action-btn button {
  width: clamp(90px, 100px, 28%);
  height: 2rem;
  border-radius: var(--grid-border-radious);
  background-color: var(--color-background-secondary);
  color: var(--color-font-secondary);
  font-weight: bold;
  cursor: pointer;
}

header .action-btn button:active {
  background-color: var(--color-accent-tertiary);
}

.sidebar {
  background: var(--color-background-secondary);
  grid-area: sidebar;
  display: grid;
  align-content: start;
  gap: 1rem;
  color: var(--color-font-secondary);
  width: 100%;
}

.sidebar > div {
  padding: 1rem;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
}

.sidebar .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.sidebar .logo img {
  cursor: pointer;
  height: 3rem;
  filter: invert(1);
}

.sidebar li {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  padding: 0 0.5rem;
  transition: var(--base-transition);
}

.sidebar li:hover {
  background-color: var(--color-accent-tertiary);
  opacity: 1;
}

.sidebar li img {
  height: 1.5rem;
  cursor: pointer;
  filter: invert(1);
  opacity: 0.8;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding: var(--grid-container-padding);
  padding-right: calc(var(--grid-container-padding) *1.5);
  padding-left: 0;
  background: var(--color-background-tertiary);
}

aside > div {
  background: var(--color-background-main);
  border-radius: var(--grid-border-radious);
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
  padding: 0.5rem;
}

aside > h3 {
  padding-bottom: 1rem;
}

aside .card {
  padding: 0.5rem 1rem;
  background: var(--color-background-main);
  transition: var(--base-transition);
}

aside .card:hover {
  transform: scale(1.03);
}

aside .card + .card {
  border-top: 2px solid var(--color-background-tertiary);
}

aside .card a {
  text-decoration: none;
  color: var(--color-accent-secondary);
}

aside .card span {
  font-size: 0.8rem;
}

main {
  grid-area: main;
  height: 100%;
  background: var(--color-background-tertiary);
  padding: var(--grid-container-padding);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto 1fr 1fr;
  gap: var(--grid-gap);
  grid-auto-rows: 1fr;
}

.cards-header {
  grid-column: 1 / -1;
}

.card-container .card {
  background-color: var(--color-background-main);
  border-radius: var(--grid-border-radious);
  padding: var(--grid-card-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr auto 0.1fr;
  gap: 1rem;
  box-shadow: 0.4rem 0px 0px var(--color-accent-main) inset;
  transition: var(--base-transition);
}

.card-container .card h2{
  margin: 0
}

.card-container > div.card:hover {
  transform: scale(1.01);
}

.card-container .card .content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
}

.card-container .card .content > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-container .card .btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  height: 2rem;
}

:root[data-theme="dark"] .card-container .card .btn-container img {
  filter: invert(1);
}

/* BEGIN sidebar collapse */
.sidebar.collapsed {
  width: var(--sidebar-collapsed-width);
  height: 100%;
}

.sidebar.collapsed .logo {
  gap: 0;
  padding: 1rem 0rem;
  justify-content: center;
}

.sidebar.collapsed li {
  gap: 0;
  justify-content: center;
}

.sidebar.collapsed span {
  display: none;
}
/* END sidebar collapse */

@media only screen and (max-width: 850px) {
  .container {
    grid-template-columns: auto 1fr;
    grid-template-rows: 0.4fr 1fr 2fr;
    grid-template-areas: "sidebar header" "sidebar main" "sidebar aside";
  }

  aside {
    padding: var(--grid-container-padding);
  }

  aside > div {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  header > div {
    padding: 0;
  }

  header .profile .name {
    display: none;
  }

  header div:nth-child(3) {
    margin-top: 1rem;
    justify-content: center;
  }

  header .action-btn {
    margin-top: 1rem;
    width: 100%;
  }
}
